[submodule "3rdparty/fixed"]
	path = 3rdparty/fixed
	url = https://gitlab.com/ckamm/fixed.git
[submodule "3rdparty/anchor"]
	path = 3rdparty/anchor
	url = https://github.com/openbook-dex/anchor.git
	branch = v0.28.0_abfdc4e-arbitrary
